<main id="main" class="site-main">
    <div class="page-title" style="background-image: url(assets/assetspuebla/images/city/puebla-puebla.jpg);">
        <div class="container">
            <div class="page-title__content">
                <h4 class="page-title__capita">Guided Tour around</h4>
                <h1 class="page-title__name">Puebla - México</h1>
                <p class="page-title__slogan">Guided travel</p>
            </div>
        </div>	
    </div>
    
    <div class="intro">
        <div class="container">
            <div class="intro__meta">
                <div class="row">
                    <div class="col-4 col-sm-4">
                        <div class="intro__meta__item">
                            <h3>Currency</h3>
                            <p>
                                <i class="la la-money-bill"></i>
                                <span>U.S. dollar</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-4 col-sm-4">
                        <div class="intro__meta__item">
                            <h3>Languages</h3>
                            <p>
                               <li><i class="la la-globe"></i> <span>English</span></li>
                               <li><i class="la la-globe"></i><span>Spanish</span></li>
                            </p>
                        </div>
                    </div>
                    <div class="col-4 col-sm-4">
                        <div class="intro__meta__item">
                            <h3>Availability</h3>
                            <p>
                                <i class="la la-clock"></i>
                                <span>7 days</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="title">What it is about?</h2>
            <div class="intro__text">Get to know must-see spots, exquisite gastronomy and a complete experience</div>
            <div class="intro__content">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="place__box place__box--npd" >
                            <div class="place__meta">
                                <div class="place__currency"><h3><strong> Price:</strong> $ USD 3500</h3></div>
                            </div><!-- .place__meta -->
                            </div>
                            <div class="place__box place__box-overview">
                                <h3>Details</h3>
                                <div class="intro__text">Transportation CDMX or Puebla Airport - Hotel PUEBLA round trip. Translator and Historian in every moment.</div>
                                <div class="intro-text">isit 50 relevant spots of Puebla. Visit Africam Safari. Visit Magical Towns. Gastronomic Tour (More than 20 dishes), Museums and famous spots.</div>
                            </div>
                            <div class="shop-details__details">
                                <div class="shop-details__sku"><h3>Includes </h3><span>transportation service with driver, translator and guide during the 7 days, Meals, drinks and lodging NOT included.</span></div>
                                <div class="shop-details__cat"><h3>Itinerary</h3>                              
                                    <li>Visit Cholula and Tehotihuacan pyramids.</li>
                                    <li>Visit 50 relevant spots of Puebla.</li>
                                    <li> Africam Safari.</li>
                                    <li>Magical Towns.</li>
                                    <li>Gastronomic Tour (More than 20 dishes).</li>
                                    <li>Wine tasting.</li>
                                    <li>Mexican Ethnic Culture Tour.</li>
                                    <li>Museums and famous spots   Spot of myths and legends. 7 days of total immersion in the poblano culture, you will eat, drink and live a total poblano experience</li>
                                 
                                </div>
                            </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
  
</main>