<!-- <app-guided [hidden]="yeoman.virtualRoute!='guided'"></app-guided> -->
<div id="wrapper">
    <!-- .site-header -->
    <header id="header" class="site-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-5">
                <div class="site">
                    <div class="site__menu">
                        <a title="Menu Icon"  class="site__menu__icon">
                            <i class="las la-bars la-24-black"></i>
                        </a>
                        <div class="popup-background"></div>
                        <div class="popup popup--left">
                            <a title="Close"  class="popup__close">
                                <i class="las la-times la-24-black"></i>
                            </a><!-- .popup__close -->
                            <div class="popup__content">
                                <div class="popup__user popup__box open-form">
                                    <a title="Login"  class="open-login">Login</a>
                                </div><!-- .popup__user -->
                                
                                <div class="popup__menu popup__box">
                                    <ul class="menu-arrow">
                                      <li routerLink="/">Home</li>
                                      <li routerLink="/guided">Guided tour</li>
                                      <li routerLink="/translation">Translator</li>
                                      <li routerLink="/travel">Transport</li>  
                                    </ul>
                                  </div>
                            </div>
                        
                        </div><!-- .popup -->
                    </div><!-- .site__menu -->
                    <div class="site__brand">
                        <a title="Logo" class="site__brand__logo"><img src="assets/assetspuebla/images/assets/logo.png" alt="Golo"></a>
                    </div><!-- .site__brand -->
                    
                </div><!-- .site -->
            </div><!-- .col-md-6 -->
            <div class="col-xl-6 col-7">
                <div class="right-header align-right">
                    <!-- <div class="right-header__login">
                        <a title="guidedtravel" style="cursor: pointer;" routerLink="/">My</a>
                    </div> -->
                    <div class="right-header__login">
                        <a title="guidedtravel" style="cursor: pointer;" routerLink="/" [hidden]="router.url.includes('site')">Home</a>
                    </div><!-- .right-header__login -->
                    <div class="right-header__login">
                        <a title="Login" class="open-login" style="cursor: pointer;" [hidden]="yeoman.isLogged">Login</a>
                    </div>
                    <div class="right-header__login">
                        <a title="Login"  style="cursor: pointer;" [hidden]="!yeoman.isLogged" (click)="logOut()">Logout</a>
                    </div>
                    <div class="right-header__button btn"  [hidden]="!yeoman.isLogged">
                      <a title="Add place"  routerLink="/my">
                          <!-- <i class="las la-cart-arrow-down "></i> -->
                          <span [hidden]="yeoman.userType=='admin'">My GuidedTravel</span>
                          <span [hidden]="yeoman.userType!=='admin'">Booking System</span>
                      </a>
                  </div>
                  <div class="right-header__button btn" [hidden]="yeoman.userType=='admin'">
                    <a title="whatsapp" href="https://wa.me/+5212216482271?text=Hola!!%20Quiero%20solicitar%20un%20servicio"  target="_blank" title="Support" style="color: white;"> 
                        
                        <i class="la la-whatsapp"></i>
                    </a>
                  </div>
                  
                    <div class="popup popup-form">
                        <a title="Close"  class="popup__close">
                            <i class="las la-times la-24-black"></i>
                        </a><!-- .popup__close -->
                        <ul class="choose-form">
                            <!-- <li class="nav-signup"><a title="Sign Up" href="index.html#signup">Sign Up</a></li> -->
                            <li class="nav-login"><a title="Iniciar" href="index.html#login">Inicio de sessión</a></li>
                        </ul>
                        <!-- <p class="choose-more">Continue with <a title="Facebook" class="fb" >Facebook</a> or <a title="Google" class="gg" >Google</a></p> --> 
                         <!-- <p class="choose-or"><span>Or</span></p> -->
                        <div class="popup-content">
                            <form class="form-sign form-content" id="signup" (ngSubmit)="registerUser()" #signupForm="ngForm">
                                <div class="field-inline">
                                  <div class="field-input">
                                    <input type="text" placeholder="First Name" [(ngModel)]="firstName" name="first_name" required>
                                  </div>
                                  <div class="field-input">
                                    <input type="text" placeholder="Last Name" [(ngModel)]="lastName" name="last_name" required>
                                  </div>
                                </div>
                                <div class="field-input">
                                  <input type="email" placeholder="Email" [(ngModel)]="email" name="email" required>
                                </div>
                                <div class="field-input">
                                  <input type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
                                </div>
                                <div class="field-check">
                                  <label for="accept">
                                    <input type="checkbox" id="accept" [(ngModel)]="acceptTerms" name="accept" required>
                                    Accept the <a title="Terms">Terms</a> and <a title="Privacy Policy">Privacy Policy</a>
                                    <span class="checkmark">
                                      <i class="la la-check"></i>
                                    </span>
                                  </label>
                                </div>
                                <button type="submit" name="submit" [disabled]="!signupForm.valid">Sign Up</button>
                              </form>
                              
                              <form class="form-log form-content" id="login" (ngSubmit)="loginUser()" #loginForm="ngForm">
                                <div class="field-input">
                                  <input type="text" placeholder="Email" [(ngModel)]="email" name="user" required>
                                </div>
                                <div class="field-input">
                                  <input type="password" placeholder="Contraseña" [(ngModel)]="password" name="password" required>
                                </div>
                                <!-- Puedes agregar un mensaje para mostrar errores de inicio de sesión si lo deseas -->
                                <div *ngIf="loginError" class="error-message">
                                  {{ loginError }}
                                </div>
                                <input type="submit" name="submit" [disabled]="!loginForm.valid" value="Entrar">
                              </form>
                        </div>
                    </div><!-- .popup-form -->
                    <div class="right-header__search">
                        <a title="whatsapp" href="https://wa.me/+5212216482271?text=Hola!!%20Quiero%20solicitar%20un%20servicio"  target="_blank" title="Support" style="color: white;"> 
                            >
                            <i class="la la-whatsapp"></i>
                        </a>
                        <div class="popup popup-form">
                            <a title="Close" href="index.html#" class="popup__close">
                                <i class="las la-times la-24-black"></i>
                            </a><!-- .popup__close -->
                            <ul class="choose-form">
                                <li class="nav-signup"><a title="Sign Up" href="index.html#signup">Sign Up</a></li>
                                <li class="nav-login"><a title="Log In" href="index.html#login">Log In</a></li>
                            </ul>
                            <p class="choose-more">Continue with <a title="Facebook" class="fb" href="index.html#">Facebook</a> or <a title="Google" class="gg" href="index.html#">Google</a></p>
                            <p class="choose-or"><span>Or</span></p>
                            <div class="popup-content">
                                <form action="index.html#" class="form-sign form-content" id="signup">
                                    <div class="field-inline">
                                        <div class="field-input">
                                            <input type="text" placeholder="First Name" value="" name="first_name">
                                        </div>
                                        <div class="field-input">
                                            <input type="text" placeholder="Last Name" value="" name="last_name">
                                        </div>
                                    </div>
                                    <div class="field-input">
                                        <input type="email" placeholder="Email" value="" name="email">
                                    </div>
                                    <div class="field-input">
                                        <input type="password" placeholder="Password" value="" name="password">
                                    </div>
                                    <div class="field-check">
                                        <label for="accept">
                                            <input type="checkbox" id="accept" value="">
                                            Accept the <a title="Terms" href="index.html#">Terms</a> and <a title="Privacy Policy" href="index.html#">Privacy Policy</a>
                                            <span class="checkmark">
                                                <i class="la la-check"></i>
                                            </span>
                                        </label>
                                    </div>
                                    <input type="submit" name="submit" value="Sign Up">
                                </form>
                                <form action="index.html#" class="form-log form-content" id="login">
                                    <div class="field-input">
                                        <input type="text" placeholder="Username or Email" value="" name="user">
                                    </div>
                                    <div class="field-input">
                                        <input type="password" placeholder="Password" value="" name="password">
                                    </div>
                                    <a title="Forgot password" class="forgot_pass" href="index.html#">Forgot password</a>
                                    <input type="submit" name="submit" value="Login">
                                </form>
                            </div>
                        </div>
                        <!-- <div class="site__search">
                            <a title="Close"  class="search__close">
                                <i class="la la-times"></i>
                            </a>
                            <form action="index.html#" class="site__search__form" method="GET">
                                <div class="site__search__field">
                                    <span class="site__search__icon">
                                        <i class="las la-search la-24-black"></i>
                                    </span>
                                    <input class="site__search__input" type="text" name="s" placeholder="Search places, cities">
                                </div>
                            </form>
                        </div>  -->
                    </div>
                   </div>
            </div><!-- .col-md-6 -->
        </div><!-- .row -->
    </div><!-- .container-fluid -->
</header>

  
    <main id="main" class="site-main overflow">
        <div class="site-banner" style="background-image: url(assets/assetspuebla/images/bg/top-banner.png);">
            <div class="container">
                <div class="site-banner__content page-container">
                    <h1 class="site-banner__title tittle" [style.margin-top]="isMobile ? '38% !important' : 'initial'" id="mobile-specific-div">Discover Puebla's magic in an unforgettable trip.</h1>
                    <h2 class="customized-languaje">Customized, safe, no language barriers.</h2>
                    
                    
                   <!-- <form action="index.html#" class="site-banner__search layout-02">
                        <div class="field-input">
                            <label for="s">Servicios</label>
                            <input class="site-banner__search__input open-suggestion" id="s" type="text" name="s" placeholder="Ej.: Traductores, sitios, transporte" autocomplete="off">
                            <div class="search-suggestions name-suggestions">
                                <ul>
                                    <li *ngFor="let category of categories;  let i = index"><a ><i class="las la-language"></i><span>{{category.name}}</span></a></li>
  
                                </ul>
                            </div>
                        </div>
                        <div class="field-input">
                            <label for="loca">Donde</label>
                            <input class="site-banner__search__input open-suggestion" id="loca" type="text" name="where" placeholder="Puebla" autocomplete="off">
                            <div class="search-suggestions location-suggestions">
                                <ul>
                                    <li><a ><i class="las la-location-arrow"></i><span>Ubicación</span></a></li>
                                    <li><a ><span>Puebla, México</span></a></li>
                                </ul>
                            </div>
                        </div> 
                        <div class="field-submit">
                         
                            <button><i class="las la-search-location la-24-black"></i></button>
                        </div>
                    </form> -->
                    <img class="img-vans" src="assets/assetspuebla/images/bg/camioneta.png"  alt="">
                </div>
            </div>
        </div><!-- .site-banner -->
        <section class="features layout-02">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="features-item">
                            <img  class="im" src="assets/assetspuebla/images/workspace/features-01.png"  alt="">
                            <div class="features-content">
                                <h3>Safe travel</h3>
                                <p>highly qualified driver, perfectly equipped van, available for you throughout your stay.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="features-item">
                            <img class="im" src="assets/assetspuebla/images/workspace/features-02.png" style="width: 20%;" alt="">
                            <div class="features-content">
                                <h3>A Translator</h3>
                                <p>Feel at home with our personalized translation service whenever and wherever you want.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="features-item">
                            <img class="im" src="assets/assetspuebla/images/workspace/features-03.png" style="width: 20%;" alt="">
                            <div class="features-content">
                                <h3>100% complete tour</h3>
                                <p>Get to know must-see spots, exquisite gastronomy and a complete experience</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- .features -->
        <section class="list-categories">
            <div class="container">
                <!-- <div class="title-wrap align-center">
                    <h2>Are you in Puebla and require any of these services?</h2>
                    <span style="display: block; text-align: center;"><h2  class="title-wrap1">Exclusive tour which combines transportation, translators and an unforgettable tour of the most outstanding places</h2></span>              
                </div> -->
                <div class="title-wrap align-center">
                    <h2>Are you in Puebla and require any of these services?</h2>
                    <p>Exclusive tour which combines transportation, translators and an unforgettable tour of the most outstanding places</p>
                </div>
                <div class="inner">
                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <div class="item hover__box">
                                <a routerLink="/traslation">
                                    <img src="assets/assetspuebla/images/workspace/cat-01.jpg" alt="">
                                    <span class="info">
                                        <span class="cities__name1">Translation services<i class="las la-language"></i></span>
                                        <img src="assets/assetspuebla/images/workspace/cat-line-01.png" alt="">
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="item hover__box">
                                <a routerLink="/travel">
                                    <img src="assets/assetspuebla/images/workspace/cat-02.jpg" alt="">
                                    <span class="info">
                                        <span class="cities__name1">Transportation service<i class="las la-bus"></i></span>
                                        <img src="assets/assetspuebla/images/workspace/cat-line-02.png" alt="">
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="item hover__box">
                                <a routerLink="/guided">
                                    <img src="assets/assetspuebla/images/workspace/cat-03.jpg" alt="">
                                    <span class="info">
                                        <span class="cities__name1">Guided tour around Puebla<i class="las la-search-location la-24-black"></i></span>
                                        <img src="assets/assetspuebla/images/workspace/cat-line-03.png" alt="">
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="cities">
          <div class="container">
              <h2 class="cities__title title offset-item">Popular sites packages </h2>
              <div class="cities__content offset-item">
                  <div class="row">
                    <div class="col-lg-4 col-sm-12" *ngFor="let pack of packs.slice(0, 8); let index = index"> 
                        <div class="cities__item hover__box">
                          <div class="cities__thumb hover__box__thumb">
                            <a title="Puebla">
                              <img [src]="pack.images[0]" alt="Tokyo">
                            </a>
                            <div class="black-overlay"></div>
                          </div>
                          <h3 class="cities__name">{{ pack.name }}</h3>
                          <div class="cities__info">
                            <p class="cities__description hidden-description" style="max-height: 100px; overflow: hidden;"><strong style="font-weight: bold;">Preview: </strong>{{ pack.shortDescription }}</p>
                            <p class="cities__valid hidden-description" ><strong style="font-weight: bold;"> Duration: </strong>{{ pack.duration }}</p>
                            <p class="cities__view hidden-description" ><strong style="font-weight: bold;">Valid:</strong> {{ pack.valid }} persons </p>
                            <h4 class="cities__number hidden-description view" style=" cursor: pointer;" (click)="setPreview(index)">View more</h4>
                          </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12"> 
                        <div class="cities__item hover__box">
                          <div class="cities__thumb hover__box__thumb">
                            <a title="Puebla">
                              <img src="assets/assetspuebla/images/city/tokyo.jpeg" alt="Tokyo">
                            </a>
                            <div class="black-overlay"></div>
                          </div>
                          <h3 class="cities__name">Individual Services</h3>
                          <div class="cities__info">
                            <p class="cities__description hidden-description" style="max-height: 100px; overflow: hidden;"><strong style="font-weight: bold;">Preview: Transportation CDMX-PUEBLA-AIRPORT</strong></p>
                           
                            <h4 class="cities__number hidden-description view" style=" cursor: pointer;" >Request</h4>
                          </div>
                        </div>
                    </div>
                  </div>
              </div><!-- .cities__content -->
          </div>
        </div><!-- .cities -->
       
        
            <section class="places-wrap">
                <div class="container">
                    <div class="title-wrap align-center">
                        <h2>Individual Services</h2>
                        <p>Transportation</p>
                    </div>
                    <div class="area-places">
                        <div class="place-item layout-02 place-hover" data-maps_name="mattone_restaurant" *ngFor="let transport of travel.slice(0, 8); let index = index"  (click)="setTransportationPreview(index)">
                            <div class="place-inner">
                                <div class="place-thumb hover-img">
                                    <a class="entry-thumb" ><img [src]="transport.images[0]" alt=""></a>
                                    <a class="golo-add-to-wishlist btn-add-to-wishlist " data-place-id="185">
                                        <span class="icon-heart">
                                            <i class="la la-bus"></i>
                                        </span>                                    
                                    </a>       
                                    <div class="feature">Transportation</div>
                                    <!-- Add the new "Solicitar" button below -->
                                    
                                </div>       
                                <div class="entry-detail">
                                    <h3 class="place-title"><a>{{transport.name}}</a></h3>
                                    <div class="entry-address"><i class="las la-map-marker"></i>1{{transport.travel}}</div>
                                    <div class="entry-bottom">
                                        <div class="place-price">
                                            <span>$$ {{transport.cost}}</span>
                                        </div>
                                        <div class="place-preview">
                                            <div class="place-rating">
                                                <span>5.0</span>
                                                <i class="la la-star"></i>
                                            </div>
                                            <a class="btn-solicitar view1" style=" cursor: pointer;" >
                                                <span>Request</span>
                                            </a>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    
                    </div>
                </div>
            </section>
        
        <div class="banner-apps" style="background-image: url(assets/assetspuebla/images/bg/bg-join-us.jpg);">
            <div class="container">
                <div class="banner-apps__content">
                    <h2 class="banner-apps__title offset-item">Gastronomic Tour</h2>
                    <p class="banner-apps__desc offset-item"  >Discover the authentic flavors of Puebla in our exclusive gastronomic tour. During your stay, you will be able to taste the most typical dishes and visit spectacular places. Immerse yourself in Puebla's rich culinary culture and try the famous mole poblano, chiles en nogada and cemitas. Explore local markets and enjoy panoramic views, a unique gastronomic experience awaits you in Puebla!
                  </p>
                    <form action="#" class="shop-details__addcart">
                     
                      <button type="submit" style="background: #000; ">More info</button>
                  </form>
                </div>
            </div>
        </div><!-- .banner-apps -->
        <div class="trending trending-business">
            <div class="container">
              <!-- <h2 class="title title-border-bottom align-center offset-item animate" id="mobile-platillo"> <br> Estos y más platillos se degustan en Puebla</h2> -->
              <div class="title-wrap align-center">
                <h2>Popular dishes in Puebla</h2>
                <p>These and more dishes are tasted in Puebla</p>
            </div>
                <div class="restaurant-sliders slick-sliders offset-item">
                  <div class="restaurant-slider slick-slider" data-item="4" data-itemScroll="4" data-arrows="true" data-dots="true" data-tabletItem="2" data-tabletScroll="2" data-mobileItem="1" data-mobileScroll="1">
                      <div class="place-item layout-02 place-hover" data-maps_name="mattone_restaurant">
                          <div class="place-inner">
                              <div class="place-thumb hover-img">
                                  <a class="entry-thumb" ><img src="assets/assetspuebla/images/listing/platillo1.jpg" alt=""></a>
                                  <!-- <a class="golo-add-to-wishlist btn-add-to-wishlist " data-place-id="185">
                                      <span class="icon-heart">
                                          <i class="la la-bookmark large"></i>
                                      </span>                                    
                                  </a>        -->
                                  <a class="entry-category rosy-pink">
                                      <i class="las la-utensils"></i><span>Bebidas</span>
                                  </a>
                              </div>       
                              <div class="entry-detail">
                                  
                                  <h3 class="place-title"><a >Degutación de licores</a></h3>
                                  <div class="entry-bottom">
                                      <div class="place-preview">
                                          <div class="place-rating">
                                              <span>5.0</span>
                                              <i class="la la-star"></i>
                                          </div>
                                         
                                      </div>
                                    <!--  <div class="place-price">
                                          <span>$$</span>
                                      </div> -->
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="place-item layout-02 place-hover" data-maps_name="mattone_restaurant">
                          <div class="place-inner">
                              <div class="place-thumb hover-img">
                                  <a class="entry-thumb" ><img src="assets/assetspuebla/images/listing/platillo2.jpg" alt=""></a>
                                  <!-- <a class="golo-add-to-wishlist btn-add-to-wishlist " data-place-id="185">
                                      <span class="icon-heart">
                                          <i class="la la-bookmark large"></i>
                                      </span>                                    
                                  </a>        -->
                                  <a class="entry-category rosy-pink">
                                      <i class="las la-utensils"></i><span>Platillo</span>
                                  </a>
                              </div>       
                              <div class="entry-detail">
                                  
                                  <h3 class="place-title"><a >Chiles en nogada</a></h3>
                                  <div class="open-now"><i class="las la-door-open"></i>agosto-septiembre</div>
                                  <div class="entry-bottom">
                                      <div class="place-preview">
                                          <div class="place-rating">
                                              <span>5.0</span>
                                              <i class="la la-star"></i>
                                          </div>
                                         
                                      </div>
                                    <!--  <div class="place-price">
                                          <span>$$</span>
                                      </div> -->
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="place-item layout-02 place-hover" data-maps_name="retro_fitness">
                          <div class="place-inner">
                              <div class="place-thumb hover-img">
                                  <a class="entry-thumb" ><img src="assets/assetspuebla/images/listing/platillo3.jpg" alt=""></a>
                                  <!-- <a class="golo-add-to-wishlist btn-add-to-wishlist " data-place-id="185">
                                      <span class="icon-heart">
                                          <i class="la la-bookmark large"></i>
                                      </span>                                    
                                  </a>        -->
                                  <a class="entry-category rosy-pink">
                                      <i class="las la-utensils"></i><span>Platillo</span>
                                  </a>
                              </div>       
                              <div class="entry-detail">
                                 
                                  <h3 class="place-title"><a >Mole poblano</a></h3>
                                  <!-- <div class="open-now"><i class="las la-door-open"></i>Open now</div> -->
                                  <div class="entry-bottom">
                                      <div class="place-preview">
                                          <div class="place-rating">
                                              <span>5.0</span>
                                              <i class="la la-star"></i>
                                          </div>
                                      </div>
                                    
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="place-item layout-02 place-hover" data-maps_name="body_spa">
                          <div class="place-inner">
                              <div class="place-thumb hover-img">
                                  <a class="entry-thumb" ><img src="assets/assetspuebla/images/listing/platillo4.jpg" alt=""></a>
                                  <!-- <a class="golo-add-to-wishlist btn-add-to-wishlist " data-place-id="185">
                                      <span class="icon-heart">
                                          <i class="la la-bookmark large"></i>
                                      </span>                                    
                                  </a>        -->
                                  <a class="entry-category rosy-pink">
                                      <i class="las la-utensils"></i><span>Platillo</span>
                                  </a>
                              </div>       
                              <div class="entry-detail">
                                 
                                  <h3 class="place-title"><a >Chalupas</a></h3>
                                  <div class="entry-bottom">
                                      <div class="place-preview">
                                          <div class="place-rating">
                                              <span>5.0</span>
                                              <i class="la la-star"></i>
                                          </div>
                                      </div>
  
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="place-item layout-02 place-hover" data-maps_name="antoinette">
                          <div class="place-inner">
                              <div class="place-thumb hover-img">
                                  <a class="entry-thumb" ><img src="assets/assetspuebla/images/listing/platillo5.jpg" alt=""></a>
                                  <!-- <a class="golo-add-to-wishlist btn-add-to-wishlist " data-place-id="185">
                                      <span class="icon-heart">
                                          <i class="la la-bookmark large"></i>
                                      </span>                                    
                                  </a>        -->
                                  <a class="entry-category rosy-pink">
                                      <i class="las la-utensils"></i><span>Platillo</span>
                                  </a>
                              </div>       
                              <div class="entry-detail">
                                
                                  <h3 class="place-title"><a >Cemitas</a></h3>
                                  <div class="entry-bottom">
                                      <div class="place-preview">
                                          <div class="place-rating">
                                              <span>5.0</span>
                                              <i class="la la-star"></i>
                                          </div>
                                      </div>
                                      
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="place-item layout-02 place-hover" data-maps_name="kathay_cinema">
                          <div class="place-inner">
                              <div class="place-thumb hover-img">
                                  <a class="entry-thumb" ><img src="assets/assetspuebla/images/listing/platillo6.jpg" alt=""></a>
                                  <!-- <a class="golo-add-to-wishlist btn-add-to-wishlist " data-place-id="185">
                                      <span class="icon-heart">
                                          <i class="la la-bookmark large"></i>
                                      </span>                                    
                                  </a>        -->
                                   <a class="entry-category rosy-pink">
                                      <i class="las la-utensils"></i><span>Restaurant</span>
                                  </a>
                              </div>       
                              <div class="entry-detail">
                                 
                                  <h3 class="place-title"><a >Molotes</a></h3>
                                  <div class="entry-bottom">
                                      <div class="place-preview">
                                          <div class="place-rating">
                                              <span>5.0</span>
                                              <i class="la la-star"></i>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="place-item layout-02 place-hover" data-maps_name="kathay_cinema">
                          <div class="place-inner">
                              <div class="place-thumb hover-img">
                                  <a class="entry-thumb" ><img src="assets/assetspuebla/images/listing/platillo7.jpg" alt=""></a>
                                  <!-- <a class="golo-add-to-wishlist btn-add-to-wishlist " data-place-id="185">
                                      <span class="icon-heart">
                                          <i class="la la-bookmark large"></i>
                                      </span>                                    
                                  </a>        -->
                                   <a class="entry-category rosy-pink">
                                      <i class="las la-utensils"></i><span>Platillos</span>
                                  </a>
                              </div>       
                              <div class="entry-detail">
                                 
                                  <h3 class="place-title"><a >Tostadas</a></h3>
                                  <div class="entry-bottom">
                                      <div class="place-preview">
                                          <div class="place-rating">
                                              <span>5.0</span>
                                              <i class="la la-star"></i>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="place-item layout-02 place-hover" data-maps_name="kathay_cinema">
                          <div class="place-inner">
                              <div class="place-thumb hover-img">
                                  <a class="entry-thumb" ><img src="assets/assetspuebla/images/listing/platillo8.jpg" alt=""></a>
                                  <!-- <a class="golo-add-to-wishlist btn-add-to-wishlist " data-place-id="185">
                                      <span class="icon-heart">
                                          <i class="la la-bookmark large"></i>
                                      </span>                                    
                                  </a>        -->
                                   <a class="entry-category rosy-pink">
                                      <i class="las la-utensils"></i><span>Platillos</span>
                                  </a>
                              </div>       
                              <div class="entry-detail">
                                 
                                  <h3 class="place-title"><a >tortitas de Santa Clara</a></h3>
                                  <div class="entry-bottom">
                                      <div class="place-preview">
                                          <div class="place-rating">
                                              <span>5.0</span>
                                              <i class="la la-star"></i>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div><!-- .restaurant-slider -->
                  <div class="place-slider__nav slick-nav">
                      <div class="place-slider__prev slick-nav__prev">
                          <i class="las la-angle-left"></i>
                      </div><!-- .place-slider__prev -->
                      <div class="place-slider__next slick-nav__next">		
                          <i class="las la-angle-right"></i>
                      </div><!-- .place-slider__next -->
                  </div><!-- .place-slider__nav -->
              </div>
            </div>
        </div>
       
        
    </main><!-- .site-main -->
  
  </div>