<main id="main" class="site-main">
    <div class="page-title" style="background-image: url(assets/assetspuebla/images/city/paris-lager.jpg);">
        <div class="container">
            <div class="page-title__content">
                <h4 class="page-title__capita">Traslation services</h4>
                <h1 class="page-title__name">Puebla - México</h1>
                <p class="page-title__slogan">Guided travel</p>
            </div>
        </div>	
    </div><!-- .page-title -->
    <div class="intro">
        <div class="container">
            <h2 class="title">What it is about?</h2>
            <div class="intro__content">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="intro__text">Feel at home with our personalized translation service, whenever and wherever you need it." This service is focused solely on Puebla, Mexico, and is offered by the guided travel company, Guided Travel. Our aim is to provide you with a welcoming and comfortable experience during your stay in Puebla. Whether you require translations to fully enjoy your tour packages or for any other situation, we are here to assist you in overcoming language barriers. You can rely on our flexible and personalized translation service, ensuring you can make the most of your tourist experience in Puebla without worrying about communication challenges.</div>
                    </div>
                    <div class="col-lg-6">
                        <div class="intro__meta">
                            <div class="row">
                                <div class="col-4 col-sm-4">
                                    <div class="intro__meta__item">
                                        <h3>Currency</h3>
                                        <p>
                                            <i class="la la-money-bill"></i>
                                            <span>U.S. dollar</span>
                                        </p>
                                    </div><!-- .intro__meta__item -->
                                </div>
                                <div class="col-4 col-sm-4">
                                    <div class="intro__meta__item">
                                        <h3>Languages</h3>
                                        <p>
                                           <li><i class="la la-globe"></i> <span>English</span></li>
                                           <li><i class="la la-globe"></i><span>Spanish</span></li>
                                        </p>
                                    </div><!-- .intro__meta__item -->
                                </div>
                                <div class="col-4 col-sm-4">
                                    <div class="intro__meta__item">
                                        <h3>Availability</h3>
                                        <p>
                                            <i class="la la-clock"></i>
                                            <span>During the tours</span>
                                        </p>
                                    </div><!-- .intro__meta__item -->
                                </div>
                            </div>
                        </div><!-- .intro__meta -->
                    </div>
                </div>
            </div><!-- .intro__content -->
            <!-- <div class="intro__content">
                <div class="row">
                    <div class="col-lg-6 place__box">
                        <h3>Contact Info</h3>
                        <ul class="place__contact">
                            <li>									
                                <i class="la la-phone"></i>
                                <a title="+1 123 123" href="tel:003437859">+1 123 123</a>
                            </li>
                            <li>											
                                <i class="la la-globe"></i>
                                <a title="www.guidedtravelmx.com" href="#">www.guidedtravelmx.com</a>
                            </li>
                            <li>											
                                <i class="la la-facebook-f"></i>
                                <a title="fb.com/abc" href="#">facebook.com/guidedtravel</a>
                            </li>
                            <li>											
                                <i class="la la-instagram"></i>
                                <a title="instagram.com/abc" href="#">instagram.com/guidedtravel</a>
                            </li>
                        </ul>
                    </div>
                
                    <div class="col-lg-6 place__box">
                        <h3>FAQ's</h3>
                        <ul class="faqs-accordion">
                            <li>									
                                <h4>What are the ingredients or taste profile for the signature sauce?</h4>
                                <div class="desc"><p>We are currently offering free shipping throughout Northern California on all orders over $80. Peninsula to San Francisco can receive next day delivery.</p></div>
                            </li>
                            <li>											
                                <h4>How far does free delivery extend to? To San Francisco?</h4>
                                <div class="desc"><p>We are currently offering free shipping throughout Northern California on all orders over $80. Peninsula to San Francisco can receive next day delivery.</p></div>
                            </li>
                            <li>											
                                <h4>How far does free delivery extend to? To San Francisco?</h4>
                                <div class="desc"><p>We are currently offering free shipping throughout Northern California on all orders over $80. Peninsula to San Francisco can receive next day delivery.</p></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    
    <div class="other-city banner-dark">
        <div class="container">
            <h2 class="title title--while">Explorer Packs</h2>
            <div class="other-city__content" *ngFor="let pack of packs.slice(0, 8); let index = index">
                <div class="row">
                    <div class="col-lg-4 col-sm-12">
                        <div class="cities__item hover__box">
                            <div class="cities__thumb hover__box__thumb">
                                <a title="Puebla" >
                                    <img [src]="pack.images[0]" alt="newyork">
                                </a>
                            </div>
                            <h4 class="cities__name">{{ pack.name }}</h4>
                            <div class="cities__info">
                            <p class="cities__description hidden-description" style="max-height: 100px; overflow: hidden;"><strong style="font-weight: bold;">Preview: </strong>{{ pack.shortDescription }}</p>
                            <p class="cities__valid hidden-description" ><strong style="font-weight: bold;"> Duration: </strong>{{ pack.duration }}</p>
                            <p class="cities__view hidden-description" ><strong style="font-weight: bold;">Valid:</strong> {{ pack.valid }} persons </p>
                            <h4 class="cities__number hidden-description view" style=" cursor: pointer;">View more</h4>
                            </div>
                        </div><!-- .cities__item -->
                    </div>
                    
                </div>
            </div>
        </div>
    </div><!-- .other-city -->
</main>