
    <div class="page-title" style="background-image: url(assets/assetspuebla/images/city/puebla-traductor.jpg);">
        <div class="container">
            <div class="page-title__content">
                <h4 class="page-title__capita">Traslation services</h4>
                <h1 class="page-title__name">Puebla - México</h1>
                <p class="page-title__slogan">Guided travel</p>
            </div>
        </div>	
    </div>
    <div class="intro">
        <div class="container">
            <h2 class="title">What it is about?</h2>
            <div class="intro__content">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="intro__text">Feel at home with our personalized translation service, whenever and wherever you need it." This service is focused solely on Puebla, Mexico, and is offered by the guided travel company, Guided Travel. Our aim is to provide you with a welcoming and comfortable experience during your stay in Puebla. Whether you require translations to fully enjoy your tour packages or for any other situation, we are here to assist you in overcoming language barriers. You can rely on our flexible and personalized translation service, ensuring you can make the most of your tourist experience in Puebla without worrying about communication challenges.</div>
                    </div>
                    <div class="col-lg-6">
                        <div class="intro__meta">
                            <div class="row">
                                <div class="col-4 col-sm-4">
                                    <div class="intro__meta__item">
                                        <h3>Currency</h3>
                                        <p>
                                            <i class="la la-money-bill"></i>
                                            <span>U.S. dollar</span>
                                        </p>
                                    </div><!-- .intro__meta__item -->
                                </div>
                                <div class="col-4 col-sm-4">
                                    <div class="intro__meta__item">
                                        <h3>Languages</h3>
                                        <p>
                                           <li><i class="la la-globe"></i> <span>English</span></li>
                                           <li><i class="la la-globe"></i><span>Spanish</span></li>
                                        </p>
                                    </div><!-- .intro__meta__item -->
                                </div>
                                <div class="col-4 col-sm-4">
                                    <div class="intro__meta__item">
                                        <h3>Availability</h3>
                                        <p>
                                            <i class="la la-clock"></i>
                                            <span>During the tours</span>
                                        </p>
                                    </div><!-- .intro__meta__item -->
                                </div>
                            </div>
                        </div><!-- .intro__meta -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="other-city banner-dark">
        <div class="container">
            <h2 class="title title--while">Explorer Packs</h2>
            <div class="other-city__content" >
                <div class="row">
                    <div class="col-lg-4 col-sm-12" *ngFor="let pack of packs.slice(0, 8); let index = index">
                        <div class="cities__item hover__box">
                            <div class="cities__thumb hover__box__thumb">
                                <a title="Puebla" >
                                    <img [src]="pack.images[0]" alt="newyork">
                                </a>
                            </div>
                            <h4 class="cities__name">{{ pack.name }}</h4>
                            <div class="cities__info">
                            <p class="cities__description hidden-description" style="max-height: 100px; overflow: hidden;"><strong style="font-weight: bold;">Detail: </strong>{{ pack.shortDescription }}</p>
                            <p class="cities__valid hidden-description" ><strong style="font-weight: bold;"> Duration: </strong>{{ pack.duration }}</p>
                            <p class="cities__view hidden-description" ><strong style="font-weight: bold;">Valid:</strong> {{ pack.valid }} persons </p>
                            <h4 class="cities__number hidden-description view" style=" cursor: pointer;"(click)="setPreview(index)">View more</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12"> 
                        <div class="cities__item hover__box">
                          <div class="cities__thumb hover__box__thumb">
                            <a title="Puebla">
                              <img src="assets/assetspuebla/images/city/tokyo.jpeg" alt="Tokyo">
                            </a>
                            <div class="black-overlay"></div>
                          </div>
                          <h3 class="cities__name">Individual Services</h3>
                          <div class="cities__info">
                            <p class="cities__description hidden-description" style="max-height: 100px; overflow: hidden;"><strong style="font-weight: bold;">Preview: Transportation CDMX-PUEBLA-AIRPORT</strong></p>
                           
                            <h4 class="cities__number hidden-description view" style=" cursor: pointer;" routerLink="/travel" >Request</h4>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <!-- <section class="places-wrap">
        <div class="container">
            <div class="title-wrap align-center">
                <h2>Individual Services</h2>
                <p>Transportation</p>
            </div>
            <div class="area-places">
                <div class="place-item layout-02 place-hover" data-maps_name="mattone_restaurant" *ngFor="let transport of travel.slice(0, 8); let index = index" (click)="setTransportationPreview(index)">
                    <div class="place-inner">
                        <div class="place-thumb hover-img">
                            <a class="entry-thumb" ><img [src]="transport.images[0]" alt=""></a>
                            <a  class="golo-add-to-wishlist btn-add-to-wishlist " data-place-id="185">
                                <span class="icon-heart">
                                    <i class="la la-bus"></i>
                                </span>                                    
                            </a>       
                            
                        
                            <div class="feature">Transportation</div>
                        </div>       
                        <div class="entry-detail">
                            
                            <h3 class="place-title"><a >{{transport.name}}</a></h3>
                            <div class="entry-address"><i class="las la-map-marker"></i>{{transport.travel}}</div>
                            <div class="entry-bottom">
                                <div class="place-price">
                                    <span>$$ {{transport.cost}}</span>
                                </div>
                                <div class="place-preview">
                                    <div class="place-rating">
                                        <span>5.0</span>
                                        <i class="la la-star"></i>
                                    </div>
                                    <a class="btn-solicitar view1">
                                        <span>Request a book</span> 
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </section> -->
