<footer id="footer" class="footer" *ngIf="!(router.url.includes('my'))" >
    <div class="container">
        <div class="footer__top">
            <div class="row">
                <div class="col-lg-5">
                    <div class="footer__top__info">
                        <a title="Logo" href="" class="footer__top__info__logo"><img src="assets/assetspuebla/images/assets/logo.png" alt="Golo"></a>
                        <!-- <p class="footer__top__info__desc">Puebla-APP.</p> -->
                        <div class="footer__top__info__app">
                            <!-- <a title="App Store" href="#" class="banner-apps__download__iphone"><img src="assets/assetspuebla/images/assets/app-store.png" alt="App Store"></a> -->
                            <!-- <a title="Google Play" href="#" class="banner-apps__download__android"><img src="assets/assetspuebla/images/assets/google-play.png" alt="Google Play"></a> -->
                        </div>
                        <aside class="footer__top__nav footer__top__nav--contact">
                         
                          <ul>
                              <li class="facebook">
                                  <a title="Facebook" href="#">                              
                                      <i class="la la-facebook-f"></i>
                                  </a>
                              </li>
                              <li class="twitter">
                                  <a title="Twitter" href="#">                                                           
                                      <i class="la la-twitter"></i>
                                  </a>
                              </li>
                              <li class="youtube">
                                  <a title="Youtube" href="#">                               
                                      <i class="la la-youtube"></i>
                                  </a>
                              </li>
                              <li class="instagram">
                                  <a title="Instagram" href="#">                             
                                      <i class="la la-instagram"></i>
                                  </a>
                              </li>
                          </ul>
                      </aside>
                    </div>
                </div>
                <div class="col-lg-2">
                   
                </div>
                <div class="col-lg-2">
                    
                </div>
                <div class="col-lg-3">
                    <aside class="footer__top__nav footer__top__nav--contact">
                        <h3>Contact</h3>
                        <p>Email: <a  class="__cf_email__" href="mailto:contact@guidedtravelmx.com">contact@guidedtravelmx.com</a></p>
                        <p>Phone:<a href="tel:+5212216482271"> +52 122 1648 2271</a></p>
                      
                    </aside>
                </div>
            </div>
        </div><!-- .top-footer -->
        <div class="footer__bottom">
            <p class="footer__bottom__copyright">2023 &copy; <a title="Guided Travel">Guided Travel</a>. Todos los derechos reservados, Desarrollado por <a href="https://www.buckapi.us" target="_blank">Buckapi</a> </p>
        </div><!-- .top-footer -->
    </div><!-- .container -->
</footer>