<header id="header" class="site-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-5">
                <div class="site">
                    <div class="site__menu">
                        <a title="Menu Icon"  class="site__menu__icon">
                            <i class="las la-bars la-24-black"></i>
                        </a>
                        <div class="popup-background"></div>
                        <div class="popup popup--left">
                            <a title="Close"  class="popup__close">
                                <i class="las la-times la-24-black"></i>
                            </a><!-- .popup__close -->
                            <div class="popup__content">
                                <div class="popup__user popup__box open-form">
                                    <a title="Login"  class="open-login">Ingresar</a>
                                    <a title="Sign Up"  class="open-signup">Registrarse</a>
                                </div><!-- .popup__user -->
                                <div class="popup__destinations popup__box">
                                    <ul class="menu-arrow">
                                        <li>
                                            <a title="Destinations" >Destinos </a>
                                            <ul class="sub-menu">
                                                <li><a href="#" title="Tokyo">Capilla del rosario</a></li>
                                                <li><a href="#" title="New York">Zócalo de puebla</a></li>
                                                <li><a href="#" title="Barcelona">Catedral basílica de puebla</a></li>
                                                <li><a href="#" title="Amsterdam">Museo amparo</a></li>
                                                <li><a href="#" title="Los Angeles">Callejon de los sapos</a></li>
                                                <li><a href="#" title="Puebla">Mercado el parian</a></li>
                                                
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="popup__menu popup__box">
                                    <ul class="menu-arrow">
                                        
                                    </ul>
                                  </div>
                            </div>
                        
                        </div><!-- .popup -->
                    </div><!-- .site__menu -->
                    <div class="site__brand">
                        <a title="Logo" href="index.html" class="site__brand__logo"><img src="assets/assetspuebla/images/assets/logo.png" alt="Golo"></a>
                    </div><!-- .site__brand -->
                    
                </div><!-- .site -->
            </div><!-- .col-md-6 -->
            <div class="col-xl-6 col-7">
                <div class="right-header align-right">
                   
                    <div class="right-header__login">
                        <a title="Login" class="open-login" style="cursor: pointer;" >Ingresar</a>
                    </div><!-- .right-header__login -->
                    <div class="right-header__button btn">
                      <a title="Add place">
                          <i class="las la-cart-arrow-down "></i>
                          <span>Comprar paquete</span>
                      </a>
                  </div>
                    <div class="popup popup-form">
                        <a title="Close"  class="popup__close">
                            <i class="las la-times la-24-black"></i>
                        </a><!-- .popup__close -->
                        <ul class="choose-form">
                            <!-- <li class="nav-signup"><a title="Sign Up" href="index.html#signup">Sign Up</a></li> -->
                            <li class="nav-login"><a title="Log In" href="index.html#login">Inicio de sessión</a></li>
                        </ul>
                        <!-- <p class="choose-more">Continue with <a title="Facebook" class="fb" >Facebook</a> or <a title="Google" class="gg" >Google</a></p> -->
                        <!-- <p class="choose-or"><span>Or</span></p> -->
                        <div class="popup-content">
                            <form action="index.html#" class="form-sign form-content" id="signup">
                                <div class="field-inline">
                                    <div class="field-input">
                                        <input type="text" placeholder="First Name" value="" name="first_name">
                                    </div>
                                    <div class="field-input">
                                        <input type="text" placeholder="Last Name" value="" name="last_name">
                                    </div>
                                </div>
                                <div class="field-input">
                                    <input type="email" placeholder="Email" value="" name="email">
                                </div>
                                <div class="field-input">
                                    <input type="password" placeholder="Password" value="" name="password">
                                </div>
                                <div class="field-check">
                                    <label for="accept">
                                        <input type="checkbox" id="accept" value="">
                                        Accept the <a title="Terms" >Terms</a> and <a title="Privacy Policy" >Privacy Policy</a>
                                        <span class="checkmark">
                                            <i class="la la-check"></i>
                                        </span>
                                    </label>
                                </div>
                                <input type="submit" name="submit" value="Sign Up">
                            </form>
                            <form action="index.html#" class="form-log form-content" id="login">
                                <div class="field-input">
                                    <input type="text" placeholder="Email" value="" name="user">
                                </div>
                                <div class="field-input">
                                    <input type="password" placeholder="Contraseña" value="" name="password">
                                </div>
                                <!-- <a title="Forgot password" class="forgot_pass" >Forgot password</a> -->
                                <input type="submit" name="submit" value="Entrar">
                            </form>
                        </div>
                    </div><!-- .popup-form -->
                    <div class="right-header__search">
                        <a title="Search"  class="search-open">
                            <i class="las la-search la-24-black"></i>
                        </a>
                        <div class="site__search">
                            <a title="Close"  class="search__close">
                                <i class="la la-times"></i>
                            </a><!-- .search__close -->
                            <form action="index.html#" class="site__search__form" method="GET">
                                <div class="site__search__field">
                                    <span class="site__search__icon">
                                        <i class="las la-search la-24-black"></i>
                                    </span><!-- .site__search__icon -->
                                    <input class="site__search__input" type="text" name="s" placeholder="Search places, cities">
                                </div><!-- .search__input -->
                            </form><!-- .search__form -->
                        </div><!-- .site__search -->
                    </div>
                   </div><!-- .right-header -->
            </div><!-- .col-md-6 -->
        </div><!-- .row -->
    </div><!-- .container-fluid -->
</header>
